:root {
  --rojo: #e6b82f;
  --gris-oscuro: #383b3e;
  --gris-claro: #6b6b6b;
}

/* Definir las fuentes */
body {
  font-family: 'Roboto', sans-serif; /* Fuente principal */
}

h1 {
  font-family: 'Open Sans', sans-serif; /* Fuente para títulos */
  font-size: 36px;
}

h2 {
  font-family: 'Lato', sans-serif; /* Fuente para subtítulos */
  font-size: 24px;
}

p {
  font-size: 18px;
}

/* Importar fuentes de Google */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,700|Lato:400,700');

/* Estilos para el Navbar */
.sticky-nav {
  background-color: var(--gris-oscuro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed; /* Hace que el Navbar sea fijo */
  top: 0; /* Lo coloca en la parte superior de la ventana */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  z-index: 1000; /* Asegura que esté por encima del contenido */
}

.sticky-nav .logo a {
  img {
    width: 150px;
  }
}

.sticky-nav .menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.sticky-nav .menu li {
  margin-right: 20px;
}

.sticky-nav .menu a {
  text-decoration: none;
  color: var(--rojo);
  font-weight: bold;
}

.sticky-nav .boton-entrada {
  background-color: #fff;
  color: var(--gris-claro);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 40px;
}



/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #205ea1;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
}

p {
  font-size: 18px;
}

section {
  padding: 20px;
}

/* Estilos para la imagen o video */
#imagen {
  text-align: center;
}

#imagen img {
  max-width: 70%;
  height: auto;
  display: inline-block; /* Esto es importante para centrar verticalmente en línea con el texto */
  margin: 0 auto; /* Esto centrará horizontalmente la imagen */
  border-radius: 10px;
}


/* Estilos para el formulario de contacto o registro */
#formulario-contacto {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;

  a {
    color: var(--rojo);
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
}

/* Estilos para los botones de llamada a la acción */
button, .cta-button {
  background-color: var(--gris-claro);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover, .cta-button:hover {
  background-color: var(--gris-claro);
}

/* Estilos para los enlaces de redes sociales */
#redes-sociales a {
  color: var(--gris-claro);
  text-decoration: none;
  margin-right: 10px;
}

/* Estilos para el mapa de ubicación (si aplicable) */
#mapa-ubicacion {
  height: 300px;
  border: 1px solid #ccc;
}

/* Estilos para los testimonios */
#testimonios {
  background-color: #f9f9f9;
  padding: 20px;
}

/* Estilos para los elementos de lista (por ejemplo, beneficios clave) */
ul, ol {
  list-style: none;
}

/* Estilos para las secciones de contenido */
section {
  margin-bottom: 20px;
}

/* Estilos para el encabezado de enlaces (FAQ, Contacto, etc.) */
h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.contactar {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--rojo);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contactar:hover {
  background-color: var(--rojo);
}
