@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,800|Open+Sans:400,700|Lato:400,700,800");
:root {
  --rojo: #fd8b1a;
  --gris-oscuro: #2a2d31;
  --gris-claro: #ebebeb;
  --azul: #205ea1 ;
}

/* Definir las fuentes */
body {
  font-family: "Roboto", sans-serif; /* Fuente principal */
}

h1 {
  font-family: "Open Sans", sans-serif; /* Fuente para títulos */
  font-size: 36px;
}

h2 {
  font-family: "Lato", sans-serif; /* Fuente para subtítulos */
  font-size: 2.25rem;
  font-weight: 800;
}

p {
  font-size: 18px;
}

/* Importar fuentes de Google */
/* Estilos para el Navbar */
.sticky-nav {
  background-color: var(--gris-oscuro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed; /* Hace que el Navbar sea fijo */
  top: 0; /* Lo coloca en la parte superior de la ventana */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  z-index: 1000; /* Asegura que esté por encima del contenido */
}

.sticky-nav .logo a img {
  width: 150px;
}

.sticky-nav .menu {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
  padding: 10px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

#menu-toggle {
  display: none;
}

.sticky-nav .menu li {
  margin-right: 20px;
}

.sticky-nav .menu a {
  text-decoration: none;
  color: var(--rojo);
  font-weight: bold;
}

.sticky-nav .boton-entrada {
  background-color: #fff;
  color: var(--gris-claro);
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 40px;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--azul);
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
}

p {
  font-size: 18px;
}

section {
  padding: 20px;
}

/* Estilos para la imagen */
#imagen {
  text-align: center;
}

#imagen img {
  max-width: 70%;
  height: auto;
  display: inline-block; /* Esto es importante para centrar verticalmente en línea con el texto */
  margin: 0 auto; /* Esto centrará horizontalmente la imagen */
  border-radius: 10px;
}

/* Estilos para los botones de llamada a la acción */
button, .cta-button {
  background-color: var(--gris-claro);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover, .cta-button:hover {
  background-color: var(--gris-claro);
}

/* Estilos para los enlaces de redes sociales */
#redes-sociales .icons {
  width: 100%;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#redes-sociales .icons a {
  color: var(--rojo);
  margin: 10px;
}

/* Estilos para el mapa de ubicación (si aplicable) */
#mapa-ubicacion {
  height: 300px;
  border: 1px solid #ccc;
}

/* Estilos para los testimonios */
.testimonios {
  background-color: var(--gris-claro);
  width: 70%;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5%;
}

#beneficios, #programa, #recursos, #faq, #redes-sociales, #clases, .oferta {
  width: 70%;
  margin: 0 auto;
}

.oferta {
  text-align: center;
}

/* Estilos para las secciones de contenido */
section {
  margin-bottom: 20px;
}

/* Estilos para el encabezado de enlaces (FAQ, Contacto, etc.) */
h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.contactar {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  width: 50%;
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--rojo);
  color: var(--gris-oscuro);
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contactar i {
  font-weight: bold;
}

.contactar:hover {
  background-color: var(--rojo);
}

a {
  text-decoration: none;
}

/* Estilos para el contenido del menú en dispositivos móviles */
@media (max-width: 768px) {
  .menu {
    display: none; /* Oculta el menú por defecto en dispositivos móviles */
    flex-direction: column;
    padding: 0;
  }
  #menu-content {
    display: none; /* Oculta el contenido del menú por defecto */
  }
  #menu-toggle:checked + .menu { /* Muestra el menú al ser clickeado el ícono de hamburguesa */
    display: flex;
  }
  #menu-toggle:checked + #menu-content { /* Muestra el contenido del menú al ser clickeado el ícono de hamburguesa */
    display: block;
  }
  .menu-icon {
    display: block; /* Muestra el ícono de hamburguesa en dispositivos móviles */
    font-size: 24px;
    cursor: pointer;
    color: var(--rojo);
  }
}/*# sourceMappingURL=style.css.map */